*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    
}

/* COLORS */
.bg-dark-blue{
    background-color: rgb(40, 40, 74);
}

.bg-aquamarine{
    background-color: aquamarine;
}

.bg-blue{
    background-color: blue;
}

.aquamarine{
    color: aquamarine;
}

/* MAIN  */
[alt~="avatar"]{
    width: 8rem;
}

img{
    width: 100%;
}

/* FOOTER  */
.extra-small{
    font-size: 10px;
}